body {
  padding: 0;
  margin: 0;
  background-color: beige;
  font-family: sans-serif;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
  color: black;
  padding: 60px;
}

.rounded-image {
  border-radius: 50%;
  border: 2px solid black;
}

.nom {
  text-align: center;
}

.contact {
  text-align: right;
}

.experience,
.competence {
  border-bottom: 10px solid black;
}

h2 {
  background-color: burlywood;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

h1,
h3,
h4 {
  font-family: "DM serif display";
  text-align: center;
}

.content {
  display: flex;
  gap: 2rem;
}

.col-1 {
  width: 25%;
  height: 50vh;
}

.col-2 {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

table {
  margin: auto;
}
